
.image-container {
    width: 300px; 
    height: 300px; 
    border: 20px solid #a7ea80; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
}


.x-image {
    width: 400;
    height: 350;
    object-fit: cover; 

}