
.logos-carousel-container {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9; 
}

.carousel-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.slick-slide {
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
}


.slick-list {
    padding: 0;
    margin: 0 auto; 
}


.logo-slide {
    height: 120px; /* Sabit bir yükseklik ver */
    padding: 5px;
}

.logo-slide img {
    max-width: 100%;
    max-height: 100px; /* Logo yüksekliklerini sınırlıyoruz */
    object-fit: contain;
}

.logo-image:hover {
    transform: scale(1.1); 
}

.slick-prev, .slick-next {
    padding: 50px;
    z-index: 10;
    background-color: gray !important; 
    border-radius: 50%;
    color: black; 
    transition: all 0.3s ease;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #fff; 
    color: #205e3b; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
}