.custom-green-banner {
  background: linear-gradient(135deg, #256f45 0%, #3ca65c 100%) !important;
  width: 100%;
  height: 500px;
  position: relative;
  top: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-blur {
    background-image: url('../img/bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(3px); 
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
  
 
  .content {
    position: relative; 
    z-index: 1; 
  }